body {
    text-align: center;
    font-family: Comic Sans MS;
    position: static;
}
h1 {
    font-weight: bold;
}

.uwaga {
    color: red;
    font-weight: bold;
    font-size: 45px;
}

.ciebie {
    color: rgb(126, 207, 5);
}

.piek {
    color: red;
    font-weight: bold;
}

a {
  text-decoration: none;
}

a.clean:hover {
  color: red;
}
.cm{
    transition-duration: 500ms;
    font-size: 40px;
    color: red;
}
.cm:hover{
    transition-duration: 500ms;
    font-size: 60px;
    top: 350px;
    position: inherit;
    color: blanchedalmond;
}
span{
    font-size: 70px;
}
.link{
    color: black;
}